#talent .splide__pagination {
    bottom: -2em;
    left: 0;
    padding: 0 1em;
    position: absolute;
    right: 0;
    z-index: 1
}

#talent .splide__pagination__page {
    background: #000;
    border: 0;
    border-radius: 50%;
    display: inline-block;
    height: 8px;
    margin: 3px;
    opacity: .7;
    padding: 0;
    transition: transform .2s linear;
    width: 8px
}

#talent .splide__pagination__page.is-active {
    background: #43239E;
    transform: scale(1.4)
}

#talent .splide__arrow--next {
    right: -3em
}

#talent .splide__arrow--prev {
    left: -3em
}

@media screen and (max-width:1024px) {
    #talent .splide__arrow--next {
        right: 1em
    }
    #talent .splide__arrow--prev {
        left: 1em
    }
}

@media (prefers-reduced-motion:no-preference) {
     :root {
        scroll-behavior: smooth
    }
}

#talent .fade {
    transition: opacity .15s linear
}

@media (prefers-reduced-motion:reduce) {
    #talent .fade {
        transition: none
    }
}

#talent .fade:not(.show) {
    opacity: 0
}

#talent .nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

#talent .nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #43239E;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
    #talent .nav-link {
        transition: none
    }
}

#talent .nav-link:focus,
#talent .nav-link:hover {
    color: #43239E
}

#talent .nav-pills .nav-link {
    background: 0 0;
    border: 0;
    border-radius: 1rem
}

#talent .nav-pills .nav-link.active {
    color: #fff;
    background-color: #43239E
}

#talent .tab-content>.tab-pane {
    display: none
}

#talent .tab-content>.active {
    display: block
}

#event .splide__pagination {
    bottom: -1em;
    left: 0;
    padding: 0 1em;
    position: absolute;
    right: 0;
    z-index: 1
}

#event .splide__pagination__page {
    background: #D9D9D9;
    border: 0;
    border-radius: 50%;
    display: inline-block;
    height: 8px;
    margin: 3px;
    opacity: .7;
    padding: 0;
    transition: transform .2s linear;
    width: 8px
}

#event .splide__pagination__page.is-active {
    background: #FF2A1A;
    transform: scale(1.4)
}


/* 
.visually-hidden-focusable:not(:focus):not(:focus-within) {
    position: absolute!important;
    width: 1px!important;
    height: 1px!important;
    padding: 0!important;
    margin: -1px!important;
    overflow: hidden!important;
    clip: rect(0, 0, 0, 0)!important;
    white-space: nowrap!important;
    border: 0!important
} */